body {
  font-family: sans-serif;
  text-align: center;
  transform: scale(1.5);
  transform-origin: top center;
}
#comparison img {
  width: 200px;
  height: 150px;
  cursor: pointer;
  margin: 10px;
}
#result ol {
  text-align: left;
  display: inline-block;
  margin: 0 auto;
}
